.wrapper 
  .chat-side 
    =render "chat-side"
  .chat-main 
    .main-header 
      .main-header__left__box 
        %h2.main-header__left-box__current-group 
          アイウエオ 
        %ul.main-header__left-box__member-list 
          Member :  
          %li.main-header__left-box__member-list__member 
            ダイゴ、ショウゴ、ゴロー 
      .main-header__edit__box 
        Edit 
    .messages 
      .message 
        .message__upper-info 
          %p.message__upper-info__talker 
            ゴロー 
          %p.message__upper-info__date 
            2019/6/29/18:00 
        .message__text 
          わん！  
    .form 
      .new_message 
        .input-box 
          aiueo 
        %label 
          %i#image_icon.fa.fa-image 
          %input.input__box__image__file{type: "file"}/
        .submit-btn 
          Send 