a:-webkit-any-link {
  text-decoration: none;
}

.chat-side{ 
  width: 300px; 
  height: 100vh; 
  box-sizing: border-box; 
  margin-right: 0; 
  color: white; 
  .side-header{ 
    display: flex; 
    background-color: #253141; 
    height: 100px; 
    width: 100%; 
    display: flex;  
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box; 
    font-weight: bold;
  
    .side-header__box{ 
      display: flex; 
      justify-content: space-between; 
      width: 100%; 

      ul{ 
        display: flex; 
        
        li{ 
          margin-left: 0.3rem; 
        } 
        li{ 
          margin-left: 0.3rem; 
        } 
        .icon{
          color:white;
        }
      } 
    } 
  } 
  .groups{ 
    width: 300px; 
    height:calc(100vh - 100px); 
    background-color: #2f3e51; 
    padding: 20px 20px 0; 
    overflow: scroll; 
    display: block; 
    box-sizing: border-box; 
    
    .group{  
     
      &__name{ 
        font-size: 15px;
        margin-bottom: 5px;
        color:white;
       
      } 
      &__message{
        font-size: 11px; 
        color: white;
        margin-bottom: 40px;
      } 
    } 
  } 
} 