.wrapper{ 
  display: flex; 
} 

.chat-side{ 
  width: 300px; 
  height: 100vh; 
  box-sizing: border-box; 
  margin-right: 0; 
  color: white; 
  .side-header{ 
    display: flex; 
    background-color: #253141; 
    height: 100px; 
    width: 100%; 
    display: flex;  
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box; 
  
    .side-header__box{ 
      display: flex; 
      justify-content: space-between; 
      width: 100%; 

      ul{ 
        display: flex; 
        
        li{ 
          margin-left: 0.3rem; 
        } 
        li{ 
          margin-left: 0.3rem; 
        } 
      } 
    } 
  } 
  .groups{ 
    width: 300px; 
    height:calc(100vh - 100px); 
    background-color: #2f3e51; 
    padding: 20px 20px 0; 
    overflow: scroll; 
    display: block; 
    box-sizing: border-box; 
    .group{ 
      margin-bottom: 40px; 
      &__group-name{ 
        font-size: 15px; 
        margin-bottom: 5px; 
      } 
      &__latest-message{ 
        font-size: 11px; 
      } 
    } 
  } 
} 
.chat-main{ 
  height: 100vh; 
  width:calc(100vw - 300px); 
  float:left; 
  box-sizing: border-box; 
  display: block; 
  .main-header{ 
    height: 100px; 
    background-color: white; 
    display: flex; 
    justify-content: space-between; 
    border-bottom:solid 1px #eee; 
    overflow:scroll; 
    padding: 0 40px; 
    &__left__box{ 
      margin-top: 35px; 
      h2{ 
        font-size: 20px; 
        color:#333; 
        margin-bottom: 15px; 
      } 
      ul{ 
        font-size:12px; 
        color:#999999; 
        display: flex; 
        li{ 
          font-size:12px; 
          color:#999999; 
        } 
      } 
    } 
    &__edit__box{ 
      color: #38aef0; 
      height: 40px; 
      line-height: 40px; 
      padding:0 20px; 
      margin-top: 30px; 
      border: solid 1px #38aef0; 
      position: absolute; 
      right: 40px; 
    } 
  } 
} 
.messages{ 
  height: calc(100vh - 190px); 
  background-color: #fafafa; 
  padding:46px 40px; 
  overflow: scroll; 
  .message{ 
    padding-bottom: 40px; 
    &__upper-info{ 
      display: flex; 
      margin-bottom: 10px; 
      &__talker{ 
        color:#434a54; 
        font-size:16px; 
        font-weight:bold; 
      } 
      &__date{ 
        color:#999999; 
        font-size:12px; 
        margin-left:10px; 
      } 
    } 
    &__text{ 
      color:#434a54; 
      font-size:14px; 
      margin-bottom: 10px; 
    } 
  } 
} 
.form{ 
  height: 90px; 
  width: 100%; 
  padding: 20px 40px; 
  background-color:#ddd; 
  .new_message{ 
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    .input-box{ 
      width: 100%; 
      background-color: white; 
      display: flex; 
      align-items: center; 
      padding: 0 10px; 
    } 

    #image_icon{ 
      position: absolute; 
      font-size: 20px; 
      right: 180px; 
      bottom: 35px; 
    } 
    .input__box__image__file{ 
      display: none; 
    } 
    .submit-btn{ 
      width: 100px; 
      height: 50px; 
      padding: 0 30px; 
      margin-left: 15px; 
      background-color: #38aef0; 
      color: white; 
      cursor: pointer; 
      display: flex; 
      align-items: center; 
    } 
  } 
} 


